<header>
    <h1>
        <i class="list-item">{{formCtrl.listIcon}}</i>
        Medio de pago
    </h1>
    <a ng-click="formCtrl.mutate()" href="#">
        <i class="fa fa-refresh"></i> <span>Modificar medio de pago</span>
    </a>
</header>
<main>
    <section class="vertical-align">
        <h3>
            Pago contra entrega
        </h3>
        <div class="extra-controls">
            <a ng-click="formCtrl.mutate()" href="#">
                <i class="fa fa-refresh"></i> <span>Cambiar</span>
            </a>
        </div>
        <figure>
            <img src="assets/images/imagen_corporativa/payment/contraentrega.jpg" alt=""/>
        </figure>
        <div class="info">
            <i class="fa fa-info-circle"></i>
            <p>
                Paga al recibir tu compra, con un costo adicional de $3.480 por el servicio de pago contra entrega.
            </p>
        </div>
    </section>

</main>