/********** BODY **************/

body{
    font-family: $font-family;
    color: $font-color;
    /*background: {
        image: $background-inner;
        repeat: no-repeat;
        position: center center;
        attachment: fixed;
    };
    @include background-size(cover);*/
}