/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/03/2016, 02:57:08 AM
    Author     : Heiner
*/

section{
    &.payment-form{

        a{
            &:hover{
                text-decoration: none;
            }
            span{
                text-decoration: underline;
            }
            color: $font-color-link;
        }
        header{
            background: $header-bg;
            padding: $padding-title;
            border: 1px solid $border-color;
            @include flex-block;
            justify-content: space-between;
            h1{
                font-size: $font-size-title;
                @include inline-flex;
                align-items: center;
                font-weight: bold;
                color: $font-color-title;

                .list-item{
                    background: $icon-list-bg;
                    color: $font-color-inverse;

                    @include border-radius(100%);
                    padding: 5px 10px;
                    margin-right: $interlineado;
                }
            }
            @media only screen and (max-width : $desktop-width) {
                a{
                    display: none;
                }
            }
        }

        main{
            padding: $padding-default;
            border: 1px solid $border-color;
            border-width: 0px 1px;
            color: $font-color;
            section{ 
                
                form{
                    width: $desktop-width;
                    margin: 0 auto;
                    .example{
                        font-size: 10pt;
                        font-style: italic;
                    }

                    @media only screen and (max-width : $desktop-width) {
                        >div{
                            flex-wrap: wrap;
                            label{
                                width: 100%;
                            }
                            >div{
                                width: 100% !important;
                                >div{
                                    span.no-needed-info{
                                        display: none;
                                    }
                                    input.no-needed-info{
                                        width: 100% !important;
                                    }
                                    @include flex-block;
                                    a{
                                        margin-left: $interlineado;
                                    }
                                }
                            }

                        }
                    }
                    >div{
                        @include flex-block;
                        justify-content: flex-end;
                        margin: $padding-default 0px;

                        label{
                            vertical-align: text-top;
                            flex-grow: 1;
                            color: $font-color-title;
                            font-weight: bold;
                        }
                        >div{
                            width: 80%;
                            display: inline-block;
                            //@include inline-flex;
                            input, textarea{
                                @include border-radius($border-radius);
                                border: 2px solid $border-color;
                                padding: $padding-default;
                                margin: $interlineado 0px;
                                display: block;
                                width: 100%;    
                            }
                            >div{
                                input{
                                    width: 70%;
                                    display: inline-block;
                                }
                                .example{
                                    font-size: inherit;
                                }
                            }
                        }

                    }

                    button{
                        margin: 0 auto;
                    }
                }
                @include flex-block;
                @media only screen and (max-width : $desktop-width) {
                    &.vertical-align{
                        flex-wrap: wrap;
                        figure{
                            width: 100%;
                        }
                    }
                }

                p{
                    margin-bottom: $interlineado;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
                figure{
                    margin: $interlineado 0px;
                    margin-right: $padding-default;
                    display: inline-block;
                    flex-grow: 0;
                }
            }

            @media only screen and (min-width : $desktop-width) {
                .extra-controls{
                    display: none;
                }
            }

            .extra-controls{
                text-align: right;
            }

            @media only screen and (max-width : $desktop-width) {
                h3{
                    flex-grow: 10;
                }
            }
            h3{
                font-weight: bold;
            }
            .info{
                font-style: italic;
                line-height: 20px;
                @include inline-flex;
                align-items: center;
                flex-grow: 10;
                i{
                    font-size: 24pt;
                    color: $font-color-icons;
                }
                *{
                    margin-left: $interlineado;
                    &:first-child{
                        margin-left: 0px;
                    }
                }

                &.purchase-ready{
                    margin-top: $padding-default;
                    background: $color-info;
                    padding: $padding-default;
                    @include border-radius($border-radius);
                    width: 100%;
                    text-align: center;
                    justify-content: center;

                    strong{
                        font-weight: bold;
                    }

                }

                @media only screen and (max-width : $desktop-width) {
                    &.purchase-ready{
                        margin-top: 0px;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        background: $font-color-icons;
                        color: $font-color-inverse;
                        @include border-radius(0px);
                        i{
                            color: $font-color-inverse;
                        }
                    }
                }

            }
        }
        @media only screen and (min-width : $desktop-width) {
            main{
                padding: $padding-default 45px;
            }
        }
        &:last-child{
            main{
                border-bottom-width: 1px;
            }
        }
    }
}